body,
html {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(62, 62, 62);
  color: white;
  font-size: 0.9rem;
  text-align: right;
}

.top-bar-ul,
.main-nav-ul {
  display: inline-flex;
  list-style-type: none;
  margin-right: 2rem;
}

.top-bar-li-item,
.main-nav-li-item {
  cursor: pointer;
  padding-left: 15px;
}

.main-nav-bar {
  display: flex;
  background-color: white;
  box-shadow: 0 0 4px 0  lightgray;
}

.logo-main {
  margin-left: 2rem;
  padding: 5px;
  width: 50%;
}

.main-nav {
  font-size: 0.8rem;
  margin: auto;
  text-align: right;
  width: 50%;
}

.main-nav-li-item .main-nav-campaign-btn {
  border: #ec5242 solid 2px;
  color: #ec5242;
  padding: 8px;
}

.main-navicon {
  color: #272a31;
  font-size: 2rem;
  margin: auto 1rem;
}

@media only screen and (max-width: 768px) {
  .top-bar,
  .logo-main,
  .main-nav {
	  display: none;
  }

  .main-nav-bar {
    display: flex;
    background: transparent;
    box-shadow: none;
  }

}

@media only screen and (min-width: 768px) {
	.main-navicon {
		display: none;
	}
 
}

