body,
html {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'COCOGOOSE';
  font-style: normal;
  font-weight: normal;
  src:
    url('COCOGOOSE.ttf.woff') format('woff'),
    url('COCOGOOSE.ttf.svg#COCOGOOSE') format('svg'),
    url('COCOGOOSE.ttf.eot'),
    url('COCOGOOSE.ttf.eot?#iefix') format('embedded-opentype');
}

.top-bar {
  background-color: rgb(62, 62, 62);
  color: white;
  font-size: 0.9rem;
  text-align: right;
}

.top-bar-ul,
.main-nav-ul {
  display: inline-flex;
  list-style-type: none;
  margin-right: 2rem;
}

.top-bar-li-item,
.main-nav-li-item {
  cursor: pointer;
  padding-left: 15px;
}

.main-nav-bar {
  background-color: white;
  display: flex;
}

.logo-main {
  margin-left: 2rem;
  padding: 5px;
  width: 50%;
}

.main-nav {
  font-size: 0.8rem;
  margin: auto;
  text-align: right;
  width: 50%;
}

.main-nav-li-item .main-nav-campaign-btn {
  border: #ec5242 solid 2px;
  color: #ec5242;
  padding: 8px;
}

.main-navicon {
  color: #272a31;
  font-size: 2rem;
  margin: auto 1rem;
}

.header-hero {
  background-color: #e7e7e7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23c7c7c7' fill-opacity='0.43'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  margin: 0;
  padding: 0;
}

.header-text-1 {
  padding: 3rem;
  width: 60%;
}

.header-text-2 {
  width: 40%;
}

.hello-h1 {
  font-weight: 300;
  margin-bottom: 0;
}

.announce-h1 {
background: -webkit-linear-gradient(#f90, #ff2f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "COCOGOOSE", sans-serif;
  font-size: 3rem;
  line-height: 120%;
  margin: 0;
}

.description-p {
  border: 3px solid white;
  padding: 1rem;
}

.date-h2 {
  color: #484848;
  font-family: "COCOGOOSE", sans-serif;
}

.date-venue-h3 {
  font-weight: 300;
}

.main-program {
  background-color: #383737;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23272a31' fill-opacity='0.4' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
  color: white;
  margin: 0;
  padding: 2rem;
}

.main-program-h1,
.main-divider,
.see-program {
  text-align: center;
}

.main-program-h1 {
  margin-bottom: 0;
}

.main-divider {
  color: #ec5242;
  margin-top: 0;
}

.see-program > a {
  color: white;
  font-size: 0.7rem;
}

.join-action-btn {
  background-color: #ec5242;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 2rem;
  padding: 1rem;
  text-align: center;
}

.lecture-h3 {
  color: #ec5242;
}

.lecture,
.exhibit,
.forum,
.workshop,
.ignite {
  background-color: #d3d3da17;
  font-size: 0.8rem;
  margin: 0.2rem;
  padding: 1rem;
}

.speaker {
  display: flex;
  padding: 1rem;
}

.speaker-name {
  margin: 4px;
}

.speaker-resume {
  font-style: italic;
  font-size: 0.8rem;
  color: #ec5242;
  margin: 0;
}

.speaker-details {
  font-size: 0.8rem;
}

.speaker-info {
  padding: 1rem;
}

.gray-divider {
  margin: 0;
  color: lightgray;
}

.featured-speakers-container {
  display: flex;
}

.featured-speakers-h1 {
  text-align: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 768px) {
  .top-bar,
  .logo-main,
  .main-nav {
    display: none;
  }

  .main-nav-bar {
    background: transparent;
    box-shadow: none;
    display: flex;
  }

  .lecture,
  .exhibit,
  .forum,
  .workshop,
  .ignite {
    display: inline-flex;
    justify-content: space-around;
  }

  .lecture-icon {
    width: 20%;
  }

  .lecture-h3 {
    margin: auto 1rem;
    text-align: left;
    width: 20%;
  }

  .lecture-description {
    width: 60%;
  }

  .featured-speakers-col-2 {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .main-navicon,
  .join-action-btn {
    display: none;
  }

  .main-program-plan {
    display: flex;
  }

  .lecture,
  .exhibit,
  .forum,
  .workshop,
  .ignite {
    text-align: center;
  }

  .featured-speakers-container {
    margin: 0 10rem;
  }
}

